[2018-01-05 16:33] gotdan opened #1 "Move download links from header to body?"
Currently, generate file links are passed in an http Link header, per https://tools.ietf.org/search/rfc5988#page-6 . Some servers have an 8k limit on headers which may lead to failure in the case of long link urls and/or many links.

Should we instead pass the links in the response body as ndjson? Perhaps something like:
[code]

This would respect the initial ```Accept: application/fhir+ndjson```

[2018-01-05 16:36] gotdan opened #2 "Handling responses with no data"
If the bulk data query doesn't match any data (for examples if no records have been created or updated since the start date), how should this be handled? One option would be for the progress endpoint to return "204 No Content".

[2018-01-05 16:37] gotdan opened #3 "How to retrieve data not tied to an individual patient"
How should we handle data global entities like organizations?

[2018-01-05 16:52] jmandel commented on #1
Great question, and something that will only really come up when data sizes get large enough (or servers break them down into a large enough number of files). Let's try to push on this at the connectathon and see when/where servers break, as well as raising the question there.

[2018-01-11 22:00] gotdan opened #4 "Where is server's nominated transaction time returned?"
This is the time that can be used as the start search parameter in future requests. Should we return a bundle as one of the links in every request to host this metadata or add a custom header? If we end up moving the links to the body, we could potentially include it there per #1 . Other approaches?

[2018-01-12 21:43] grahamegrieve commented on #1
I don't think that we'll push the 8k limit. And keeping things in the headers allows for a useful HTML body in case of client side errors

[2018-01-17 16:31] jmandel commented on #3
(Piling on here: Concept Maps, too, which support vocab/code mapping -- these files can get big, and can be very tailored to a specific institution.)

[2018-01-17 16:32] jmandel commented on #1
One file per resource type x 50 characters per URL is already 5k chars. So this does seem like a looming limit.

[2018-01-17 17:02] vlad-ignatov commented on #1
On my implementation I had to increase the limit to 32K and it is still easy to hit. Another reason for that is that those links must be full absolute URLs (or at least we should support that) so they often take more than 100 characters.

[2018-01-17 17:19] vlad-ignatov opened #5 "File name format"
Currently we have some example file names like `0001.Patient.ndjson`. It is probably worth documenting the file name format better.  Possible questions are:

1. The number prefix is designed to control how the client OS sorts the files. Does it have to be placed before the resource type (eq. `0001.Patient.ndjson`), or after it (`Patient.0001.ndjson`)?s
Also, do these numbers really need to be pref

[2018-01-17 17:58] jmandel commented on #5
I think we want to be prescriptive here, so this is a great point to raise, @vlad-ignatov.

My take would be to say: each link URL has an optional prefix leading up to `{optional prefix ending in dot}{mandatory resourceType}.ndjson`, where `{resourceType}` stands in for a resource type that's capitalized according to the FHIR specification. The prefix can be anything that ends in `.`.

I'd like to

[2018-01-17 18:00] jmandel commented on #1
Was this a web server configuration change? Like, in an nginx config file, or a nodejs library, or something else?

[2018-01-17 18:33] vlad-ignatov commented on #1
I use Node which either does not have any limit or it is very high. Severs like Apache, Nginx and others do have such limits typically >= 8k, but Node, being a lower level thing might not have one.

Another interesting aspect is that clients can also have similar limit. In my case Node was generous but if I query something like that with Ajax request in Chrome, the browser refuses to parse it afte

[2018-01-27 18:06] plangthorne commented on #1
+1 to this suggestion. Philosophically, since it is the primary payload for the /bulkstatus endpoint, it seems most natural for this payload to be in the body of the response. Practically, moving this to the body allows the server to serialize the payload in a format with broad tooling support such as JSON.

[2018-01-27 20:41] jawalonoski opened #6 "URL Operation Conflict"
`Patient/$everything` is already an established operation.

How about an alternative of `/$bulkdata` (a system-level operation) or if you want the operation "compartmentalized" within established FHIR compartments: `Group/[id]/$bulkdata`

[2018-01-28 14:07] gotdan commented on #6
I agree about the name - in particular I think it's confusing to have one ```$everything``` operation that supports async and one that does not. What about a ```$export``` operation that would work on compartments (and requires support for async and ndjson)?

We could have ```Patient/$export```, ```Group/[id]/$export```, etc

[2018-01-28 21:09] gotdan commented on #1
Moved links to json payload in body in v0.1

[2018-01-28 21:09] #1 closed

[2018-01-28 21:10] gotdan commented on #5
Moved file types to explicit fields in json payload in v0.1, so specific file name format is no longer required

[2018-01-28 21:10] #5 closed

[2018-01-28 21:13] gotdan commented on #4
Added this to the transactionTime field in the json body in v0.1

[2018-01-28 21:13] #4 closed

[2018-01-28 21:15] gotdan commented on #3
Added the following language to v0.1:

Only resources of the specified resource types(s) will be included in the response. If this parameter is omitted, the server should return all resources in the Patient Compartment as well as resources that are helpful in interpreting the patient data such as Organization and Practitioner.

[2018-01-28 21:15] #3 closed

[2018-01-28 21:15] gotdan commented on #2
Addressed in v0.1 since all requests will return a json response in the body

[2018-01-28 21:15] #2 closed

[2018-01-28 21:32] gotdan opened #8 "Non-Patient Compartment Resources"
Do we need to specify which non-patient resources (like Practitioner and Organization) should be included in the $export requests if the _type parameter isn't supplied or should we leave this to the discretion of the server implementation (which may be more realistic in real world implementations)

[2018-01-29 15:30] jmandel commented on #8
Current state talks about "use case applicable" resources -- I appreciate the update from @dkfriend07 to indicate the need for flexibility here. Though I wonder if we can avoid introducing the idea of client-specific use cases in the spec here. (Of course, individual clients may be authorized to retrieve only a limited subset of data!)

[2018-01-29 15:50] gotdan commented on #8
Good point! @dkfriend07 @jmandel - what if we change "use case applicable" to something like the language we use earlier in the document: "[resources] the client application has security/authorization to view"?

[2018-01-29 22:02] thedoglady commented on #8
@gotdan @jmandel Good point. I like the idea of coming back to authorization. I think it is also worth adding something to captures the broader level of why choice of resources is needed (BAA, privacy, performance) - maybe something like: "..If this parameter is omitted, the server should return all supported resources that the client has authorization for and that the business agreement allows."

[2018-01-30 16:32] bvdh opened #11 "Support bulk data protocols on other FHIR requests"
The Async mechanism has advantages also for other requests and operations. Therefore I suggest that we broaden the scope of bulk data to include also other requests on the FHIR server. This will allow it to be also used in other time consuming or data heavy requests. Examples of those are retrieval of all resources of a type, evaluating measures and applying plan definitions.

Based on the current

[2018-01-30 18:20] jmandel commented on #11
Agreed with this model; we'll be sure to separate the infrastructure from the use-case-specifics of patient/group export as we incorporate these details into FHIR.

[2018-02-12 19:38] jawalonoski commented on #6
Looks like this has been resolved to `$export`

[2018-02-12 19:38] #6 closed

[2018-04-10 18:17] mattkoch614 opened #13 "Using the Group resource"
How might we effectively use the ``Group`` resource to support bulk export data? The example [here](https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/master/export.md#endpoint---group-of-patients) seems to pertain only to the ``Patient`` resource. What if we consider a use case where we are attempting to get a slice of lab results based on some grouping criteria?

The FHIR specification in

[2018-04-10 19:19] jmandel commented on #13
The intent of the `Group` resource in FHIR is to represent a group of Patients (or practitioners, or a couple of other types -- but mostly patients) who have certain characteristics in common. A FHIR `Group` isn't designed to store Observations or other clinical data. So the way we'd use Group in the bulk data export is as an entry-point for an export job: a shorthand for a subset of patients on w

[2018-04-10 23:08] mattkoch614 commented on #13
Thanks for the clarification - this makes sense. This question probably speaks more to me being a FHIR newbie than anything.

[2018-04-11 16:28] jmandel commented on #13
Sure thing! I'll close out this issue.

[2018-04-11 16:28] #13 closed

[2018-04-12 17:39] jmandel opened #14 "Allow clients to rotate keys?"
If we want to allow clients to rotate their own keys, we should describe:

1. How a client can include a  the "key ID" in its authentication JWTs
2. How an EHR can resolve a set of keys for a client based on the issuer URL

[2018-04-12 20:00] jmandel commented on #11
As we work through scope and content, we'll try to keep the number of files small. For the pieces that get incorporated directly into the FHIR spec, these will be modular as you've suggested (see http://build.fhir.org/async). I'm closing this issue for covered for now; let us know if there are any concerns!

[2018-04-12 20:00] #11 closed

[2018-04-12 20:11] jmandel opened #16 "Use case :: Resource Mappings (e.g., for Common Clinical Data Set and for Financial Data)"
We've had some discussion about which resources we'd expect as a "minimum bar" for specific use case.

In the Argonaut context, we'd want to spell out a use case focused on the Common Clinical Data Set, focused on the resources that have been profiled by Argonaut to meet  this data set: http://www.fhir.org/guides/argonaut/r2/

In the Financial context, it would be good to spell out what bulk finan

[2018-04-12 20:13] gotdan commented on #8
Closing this issue since we're addressing resource sets for specific use cases in #16

[2018-04-12 20:13] #8 closed

[2018-04-12 20:14] jmandel opened #17 "What are the EHR's obligations in validating an authorization JWT?"
Currently the spec leaves a TODO to define a server's obligations in validating a client's JWT. We should flesh this list out.

[code]

[2018-04-12 20:25] jmandel opened #18 "Should we specify algorithms for asymmetric signatures in authentication JWTs?"
Right now we're silent on this. Should we pick one or more algorithms as "must support" if we want consistency? e.g. RS256?

[2018-04-12 20:30] isaacvetter commented on #18
Here's a similar conversation in CDS Hooks: https://github.com/cds-hooks/docs/issues/187

[2018-04-13 06:02] isaacvetter opened #19 "Rename status response "secure" to be more precise"
The status response currently includes a boolean _secure_ element, which is intended to indicate to the client a requirement to authenticate with their backend services access_token when accessing a specific file of FHIR resources.

The backend services access_token is intended to be short-lived and may have expired before files are ready to be downloaded. If an access_token is required, the clien

[2018-04-18 06:32] kurttheviking opened #20 "Allow clients to specify output target as part of export request"
Currently, the [server controls where to store export files](https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/master/export.md#response---complete-status) after they have been generated. However, we (myself and the other members of the GCP FHIR team) believe users and clients may want to control the destination target for the generated files. Specifically, controlling the destination allo

[2018-04-18 13:11] jmandel commented on #20
We had something like this in our earliest design sketch, and took it out to focus the conversation.

Overall I'm open to this, though I'll note that it begins to blur the lines about whether these  ndjson URLs are intended as a standardized way for a client to obtain the data, vs. a way to directly put the content in a client-specified place.

When it comes to retention policies, it's also import

[2018-04-18 13:30] js8080 commented on #20
I worry about this suggestion. As a FHIR server, it's my responsibility to make sure the data I'm sharing is shared in a secure manner. If I allow a client to give me an arbitrary location for storing that data, that feels very risky. How do I know that location is secure? It also feels like we're opening up the details of the server -- currently it's more of a black box but now you're letting the

[2018-04-18 13:35] jmandel commented on #20
FWIW, I didn't hear Kurt's suggestion as suggesting that all server's would support *arbitrary* URLs. A server would determine the schemes and paths it supported.

[2018-04-18 13:42] js8080 commented on #20
Ah, good point. Missed that important detail. Still, the server would have to somehow come up with that curated list of destinations. _Something_ would still need to be responsible for knowing those locations are secure, etc. (a human?). It also still feels like inappropriately opening up the inner workings of the server and adding complexity. What if the server isn't creating files to store the r

[2018-04-18 15:25] gotdan commented on #20
I think @JustinStauffer makes a good point - it seems like a destination parameter would be very implementation specific to be part of the spec (particularly if you consider the different auth strategies that may or may not be supported for each of the potential storage endpoints).

That said, as long as a server supports the specified url based access to the files, I don't see why it couldn't als

[2018-04-18 18:30] kurttheviking commented on #20
To confirm @jmandel comment, I certainly didn't mean to imply arbitrary locations here and I apologize for the confusion. Instead, I meant pre-configured options for a destination with a given implementation stating what options it supports.

In my head, I attached this idea to is the comment ["Note: These files may be served by a file server rather than a FHIR specific server"](https://github.com

[2018-05-03 20:01] mspsullivan commented on #17
jmandel we refer to "client_id" in the suggestion for validation. Is the "client_id" always the same as the subject?
The validation language might be more clear if we mirrors the table earlier in the document titled "Authenticaion JWT Claims". This table could show the validation for each claim.

[2018-05-05 03:56] isaacvetter opened #23 "authorization: clarify server obligation for jti uniqueness validation is limited to 5 min+sub"
In consultation with @lmtthws, we'd like to suggest that the `jti` nonce uniqueness server obligation be further specified.

The [Server Obligations](https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/master/authorization.md#server-obligations) section of the authorization spec includes the requirement that the FHIR server:

To prevent the possibility of replay attacks, the server must vali

[2018-05-07 16:09] JustinStauffer opened #24 "Use of "Expires" header in Complete Status response"
Hey folks, I was wondering if it's really appropriate to use the "Expires" HTTP header in the "Complete" status response to indicate when the results will expire.

After digging into this a bit for our implementation of a FHIR Bulk Data service, I realized the "Expires" header is actually part of the HTTP Cache-Control which deals with caching of web responses.

I won't proclaim to be an expert in

[2018-05-13 10:00] jmandel opened #25 "Specify "Accept: application/json" for polling request"
Should clarify that a client should supply `Accept: application/json` for a polling request.

See discussion at https://chat.fhir.org/#narrow/stream/95-bulk-data/subject/Cologne.20Connectathon/near/148990

[2018-05-22 20:47] daliboz opened #26 "What are the requirements around the issuer URL, what is it used for?"
Are there requirements we should define for the issuer URL? Initial thoughts:

- https?
- Recommended methods to confirm domain is owned by the consuming application?
- absolute URL?

This is also a bit artificial right now - the issuer doesn't currently serve a purpose if the client id is going to be assigned. We **could** use the issuer URL to help bootstrap trust. EG: A model where the consumer

[2018-05-22 20:50] daliboz commented on #18
Also, encryption is currently called out in the registration section. Once we land this, we may want to move this to the section calling out how to get a token.

If we do choose some algorithms, we should target minimums since these are always changing and improving.  Also, it probably needs to be specific as to the [JWA](https://tools.ietf.org/html/rfc7518) being used for the signature (does the

[2018-05-22 20:52] daliboz opened #27 "Token Expiration too long"
The current specification calls out a 15 minute expiry, though OAuth 2 recommends that tokens live no longer than 10 minutes. In addition, the SMART specification even recommends 5 minutes. I assume we would want 10 or less before expiry.

[2018-05-22 20:57] daliboz opened #28 "Recommendations around error handling"
The current backend services specification doesn't call out how servers should handle errors. We should add some requirements around what types of errors are expected and any recommendations. For example, we've used the error_uri (from OAuth) in our responses which help provide human readable error responses (and allows for localization).

[2018-05-22 20:58] daliboz commented on #17
We may want to source most of this/reference [RFC 7523](https://tools.ietf.org/html/rfc7523#section-3) directly.

[2018-05-22 21:03] daliboz opened #29 "Tools and References sections?"
We should move the tools out of the core part of the specification. We could do this a few ways, by providing references to them in a summary or abstract, or by having a section that references them.

We should have a references section that links to prerequisite specifications (OAuth 2, JWT, etc).
In addition, we should try to defer to these specifications when discussing specifics (eg: how to va

[2018-05-23 13:21] js8080 commented on #25
"should supply" or "shall supply"?

[2018-05-24 16:41] jmandel opened #30 "Define expectations for rate limiting on polling requests"
From May Connectathon:

* Throttling while polling
  * we should have consistent error codes (e.g. 429 status code for "too many requests")
  * We need to test the currently defined approach with "Retry-After" header containing a http date or a delay time in seconds
  * Should servers prevent client new exports while a previous request is running?

[2018-05-24 16:44] jmandel commented on #29
Thanks!

+1 on moving the tools out into their own page. When it comes to deferring to existing specs, I totally agree from a formal / "normative" perspective. It can still be helpful to call out examples of the kinds of things that developers need to keep in mind, even if we say "for full requirements refer to [ref]".

If you're willing to put together a PR with the changes proposed here, I think

[2018-05-24 16:46] jmandel commented on #27
Agreed that we should update our spec to clarify guidance. Re: the "10 minute" number, can you share a reference for this? (I see that https://tools.ietf.org/html/rfc6749#section-4.1.2 recommends 10 minutes for the `code` in an authorization code flow, but I may be missing a recommendation from elsewhere about token lifetimes.)

[2018-05-24 17:16] jmandel commented on #26
Reviewing our discussion up to this point, here's what I'd like to propose.

## The goals are:

* Maintain compatibility with off-the-shelf OAuth server behavior
* Maintain consistency with JWK headers used in CDS Hooks
* Avoid "magic" (special constants) in mapping issuers to JWKS URLs
* Don't assume that all clients are online and can host web content
* Enable what we hope will be the common cas

[2018-05-24 17:21] jmandel opened #31 "Define system-wide $export"
Our Argonaut use cases have focused on exporting data about groups of patients. There are also bulk export use cases for non-patient-related resources like:

* Export all resources from a server (e.g., for backup / snapshots)
* Export all resources of a particular type (e.g., "terminology data export)

We can handle these nicely by defining a system-level export like:

[code]

[2018-05-24 17:21] jmandel commented on #31
@grahamegrieve @kurttheviking FYI

[2018-05-24 18:18] gotdan commented on #30
With regard to the question of "Should servers prevent client new exports while a previous request is running?", we could note in the spec that a server may return a [503 Service Unavailable](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503) and optionally a Retry-After header in response to the bulk data request.

[2018-05-24 19:43] isaacvetter opened #32 "How should a server represent errors to the client?"
For the bulk data API, let's consider a request for resources for 10k patient records.

Naturally, some errors may occur during data retrieval.  We want to communicate these errors to the bulk client.

One way to report errors, where a small subset of resources are unavailable, could be to return an OperationOutcome .ndjson file with OperationOutcome.issue.location used to identify the patient who

[2018-05-25 02:10] kurttheviking commented on #31
@jmandel makes sense; is the all resources version of this (first bullet) `GET [base]/$export` &ndash; e.g. no query param.

[2018-05-25 02:10] jmandel commented on #31
Yes -- by default, all resource types

[2018-05-25 14:34] jmandel commented on #26
@daliboz thanks for your offline comments! I've updated the proposal above based on our conversation yesterday. Reviewing existing dynamic registration protocols, I'm less and less convinced of the benefit of making the client generate an `iss` for our use case here -- and more and more convinced by your argument that we can drop it. So I've dropped it above, and documented that the `iss` and `sub

[2018-05-30 16:59] gotdan commented on #29
@daliboz I moved the tools onto their own page to address this issue. Also, I agree that it makes sense to include links to relevant specs when they're referenced in the documentation. Are there any specific ones that you'd like to add now, or should we just keep this in mind and plan to incorporate them as they come up in discussion?

[2018-05-30 17:35] gotdan commented on #25
Resolved with #35

[2018-05-30 17:35] #25 closed

[2018-05-30 18:06] gotdan commented on #20
@kurttheviking Given that different servers are likely to vary in the destination information they require (eg. different credential and config parameters), perhaps one way to address this use case would be to include language in the spec to the effect that implementations can optionally support additional parameters on the kickoff request as long as they also support requests without those parame

[2018-05-30 22:41] kurttheviking commented on #20
@gotdan I see what you're saying -- I think the part that's difficult at scale is "as long as they also support requests without those parameters". For instance, we have an export that has hundreds of millions of resources and, as a result, is quite large. With lots of API consumers asking for large payloads (potentially erroneously -- e.g. an accidental cron job), it's not feasible to internally

[2018-05-30 22:51] jmandel commented on #20
Regarding the particular questions of data locality or retention expectations: isn't it fair to say that the FHIR server is _already_ storing data in some appropriate fashion? i.e., it has a way to meet regulatory requirements, and in the absence of further guidance could just follow those same policies?

[2018-05-31 00:23] kurttheviking commented on #20
@jmandel yes, that's true from a regulatory perspective; I'm speaking more for organizational policies which differentiate between the data in the primary store (e.g the FHIR API) and data extracted from that API and put in other places...especially when it comes to retention policies. Those may not necessarily be the same team and, more complicated, vary base on who or what application requested

[2018-05-31 03:42] jmandel commented on #20
This is interesting. The fundamental concern is that *requiring* special target parameters means you can't have a generic client. Instead, a client *must know* details specific to GCP (or whatever), even if it doesn't want to, or can't reasonably be expected to.

These clients of course are going to be responsible for implementing appropriate data handling, retention, management, etc *once they've

[2018-05-31 04:19] kurttheviking commented on #20
@jmandel That's a fair point &ndash; my intent was to provide support for a generic client and I don't want to propose breaking that aspect. One option would be for an implementation to make this a configuration of the API itself. For example, GCP (again, or HAPI, or whatever) could move the `default_destination` out of the API request flow itself and into the equivalent of a config file. Thus, on

[2018-05-31 13:33] gotdan commented on #20
@kurttheviking @jmandel I like the idea of moving destination information into the server config (possibly with optional override by query string params). To me, this seems like the right separation of concerns and would both support generic clients and allow server providers to support complex configuration (max bucket size, retention duration, bucket naming conventions, etc) in a straightforward

[2018-05-31 18:49] jmandel commented on #14
Closing in favor of https://github.com/smart-on-fhir/fhir-bulk-data-docs/issues/26 which covers this.

[2018-05-31 18:49] #14 closed

[2018-05-31 18:50] jmandel commented on #19
Discussion in [bulk-data#secure on zulip](https://chat.fhir.org/#narrow/stream/95-bulk-data/topic/secure.3A.20false.20.2E.2E.2E.20.3F): suggested `requiresAuthorizationToken`. I like it, too.

[2018-05-31 19:07] #31 closed

[2018-05-31 19:16] #20 closed

[2018-05-31 19:27] jmandel commented on #32
TODO: PR adding total resource counts and error counts to our response payload, and describing any expectations on `OperationOutcome` contents.

[2018-05-31 19:28] isaacvetter commented on #32
Talked through this on the Argonaut call.

Yes, it makes sense to include one or more files of OperationOutcomes encountered during the export operation.

Further, we discovered the possibility of adding optional resource counts per file in the status response.

Lastly, Josh pointed out the edge case of a FHIR server exporting OperationOutcome resources which were stored within the FHIR server, an

[2018-05-31 22:36] kurttheviking commented on #20
@gotdan works for me; is there anything you need (e.g. a PR) to help move this into the spec? e.g. is `destination` the only param or should we expect more/generic params?

[2018-06-07 17:54] jmandel commented on #24
I don't feel strongly about this, but the semantics of `Expires` seem to do an okay job to me of communicating "After this time, the resource will be stale"; it's an effective hint, without being a guarantee that the resources will disappear.

[2018-06-07 18:02] #19 closed

[2018-06-07 18:33] js8080 commented on #24
Yeah, I just wasn't so sure about it initially and thought we may be expanding the intended scope of this header value and misusing Cache-Control. But it's no big deal -- I just wanted to run it by others to see if it was a concern. If others are OK with it, I'm fine closing this.

[2018-06-07 18:34] jmandel commented on #18
We should plan to follow what the CDS Hooks group is deciding on, and say:

* servers should support both ES384 and RS384
* clients should should at least one of ES384 or RS384

(Or even "must".)

Any concerns with this level of specificity, assuming we also pull in the rest of the guidance from https://github.com/cds-hooks/docs/issues/187#issuecomment-395227390 ?

[2018-06-07 18:46] jmandel commented on #26
I know you've been busy @daliboz -- would love to wrap this up when you have a chance to review :-)

[2018-06-07 19:14] #24 closed

[2018-06-07 19:43] jmandel commented on #26
We should mention in the spec, explicitly, that via the `jku` approach clients will be able to rotate their own keys.

[2018-06-07 19:52] jmandel opened #43 "Within JWKS, do we expect certs, bare keys, or both?"
When creating a JWKS, each key can be represented in a few ways:

* `x5c` property (a PEM-encoded certificate chain)
* `x5u` property (a URL leading to a PEM-encoded certificate chain)
* "bare key" with properties like
  * `n` and `e` (modulus and exponent, for RSA keys)
  * `crv`, `x`, and `y` (curve, x-coordinate, and y-coordinate, for EC keys)

We want to avoid a situation where some servers ex

[2018-06-13 16:22] gotdan opened #44 "OpenId token in backend services auth profile"
Grahame suggests we add language to indicate that if the client that is connecting to a server using back end services spec is acting on behalf of a human user, it should identify the user to the back end server with an openid token

[2018-06-14 04:50] #16 closed

[2018-06-14 04:50] #27 closed

[2018-06-14 05:06] jmandel commented on #44
This begins to cross the line between client authentication (which is what our current spec accomplishes) and user authorization.

Briefly, this is the difference between https://tools.ietf.org/html/rfc7523#section-3.1 and https://tools.ietf.org/html/rfc7523#section-3.2.

If the client is acting on behalf of a human user (and we want to continue following https://tools.ietf.org/html/rfc7523) then

[2018-06-14 05:07] jmandel commented on #29
@daliboz we'll close this as addressed, but feel free to open up specific issues about referencing additional specs as needed!

[2018-06-14 05:07] #29 closed

[2018-06-14 07:10] grahamegrieve commented on #44
Agree with the bit up to the two JWTs? I think that it makes sense to authenticate the client and trust them about the user (as is done now). And I think that 'on behalf of a user' and 'directly on behalf of the client' are quite different use cases or I haven't understood them

[2018-06-14 13:11] jmandel commented on #44
Did I understand correctly though @grahamegrieve that you're asking to extend the scope of these backend services spec to accommodate this additional use case of "on behalf of"?

If we do expand scope in this way, my first point would be: we shouldn't just be adding a new claim to our current authentication JWT, because that's no longer a pure authentication use case. Does that make sense?

Instea

[2018-06-14 13:29] grahamegrieve commented on #44
yes i think I'm asking for that, and I think I understand (and agree with) with your first point. I'm not sure of the other ramifications... I'd probably have to try and implement it.

[2018-06-14 13:31] jmandel commented on #44
OK, thanks. Can you list a couple of use cases here, just to feed into our discussion on today's Argonaut call? (I think I have a good idea of use cases, but want to make sure I'm representing the full scope properly.)

[2018-06-14 13:37] grahamegrieve commented on #44
well, three I've done before:
- user is doing pathology lookup, and the reports they are allowed to see is based on their user type (staff, STDs, research cancer markers). EHR is the authenticated client that makes the request; the lab system trusts the EHR's claim about who the user is and returns appropriate reports
- user is logged into a web EHR viewer, and asks to view PACS images. EHR web se

[2018-06-14 13:59] jmandel commented on #44
Hmm. Some of these use cases really just feel like "Single Sign-on", not backend-services at all. In other words, why not just use a regular OIDC flow for the PACS/EHR SSO integration?

In any case, just to be explicit I've tried writing up my own example of a use case and proposed changes to the spec, so we can talk through it: https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/45 with cha

[2018-06-14 18:39] lcmaas commented on #44
I would reconsider representing both scenarios with an Authorization JWT. This breaks from the existing RFCs on this topic (see [RFC7521 Section 6.1-6.3](https://tools.ietf.org/html/rfc7521#section-6.1)) and creates a different meaning for this assertion grant type in this guide as compared to standards-based assertion-based authz and authn workflows which would make it difficult to support both.

[2018-06-14 18:54] #32 closed

[2018-06-14 18:57] jmandel commented on #44
Thansk @lcmaas. Can you explain a bit more about what you mean by "a different meaning for this assertion grant"? On my reading, a JWT authorization grant provides a client a clear way to say "Hey, I'm authorized to get a token on behalf of {User 123 | User 456 | Myself directly}".

[2018-06-14 19:29] kpshek commented on #43
@jmandel - I imagine the decision for whether we should prescribe and/or recommend an approach has a lot to do with the support for these options in the popular open source libraries. Have you researched each of the popular libraries across the common languages to see what they support?

[2018-06-14 19:40] jmandel commented on #18
Will plan to adopt finalized language from https://github.com/cds-hooks/docs/issues/187#issuecomment-397082755 with a note that we recommend that the server (I.e. the actor verifying signatures) should be able to verify signatures with both recommended algorithms (i.e., RS384 and ES384).

Note: re "or better" we probably want to just say that actors can choos different algorithms over time as thei

[2018-06-14 19:41] lcmaas commented on #44
sure... My read of RFC 7521-7523 is that when the JWT assertion grant type is used, the JWT says only: "Hey, 'iss' says the bearer of this JWT has been authorized to get a token by 'sub'" but (intentionally) doesn't try to say anything about who the bearer is. Authentication of the client is a separate matter and may not even be necessary (e.g. for public clients). It could be achieved using a cli

[2018-06-14 19:46] jmandel commented on #43
I'll do a review of some of the most popular libraries. Please add others here if you want :)

[2018-06-14 20:41] jmandel commented on #44
Yeah, using two JWTs is definitely the alternative here; in some ways it's very clean, and it's what I wrote up initially in https://github.com/smart-on-fhir/smart-on-fhir.github.io/wiki/cross-organizational-auth -- but the complexity and lack of adoption has given me pause about suggesting this approach again :-)

On the semantics, thanks for spelling out your concern in more detail! Re:

I could

[2018-06-14 21:00] grahamegrieve commented on #44
the client will be using some identity established by an identity server somewhere; that might be itself (often is) or it might be some other server, including some public identity server. Or the server it's asking from - but that sounds like an unusual combination to me.  The client will pass whatever it has in the identity token, and then it's a business negotiation whether that's acceptable.

[2018-06-14 21:05] jmandel commented on #43
C#: https://github.com/dvsekhvalnov/jose-jwt uses .NET classes like RSACryptoServiceProvider which have pretty broad support. It looks simple to use bare keys; I'm sure there's also a way to parse certificate chains but it's less trivial to find examples.

Python: https://pyjwt.readthedocs.io/en/latest/algorithms.html?highlight=elliptic supports loading from PEM encoded keys, but not directly from

[2018-06-14 21:12] jmandel commented on #44
"Pass whatever it has" may make it hard to establish expectations! I'm not sure how an identity token fits in here, exactly; are you expecting that a client would need to present an identity token issued by a third-party, or issued by itself? An identity token has an audience, and embedding an identity token into an authorization JWT raises questions about audience alignment (and it may be simpler

[2018-06-14 21:17] grahamegrieve commented on #44
If the user logged in to the client through smart app launch, then what the client has is an openID token issued by the Authorization server, though that might be derived from elsewhere by the Authorization server. If the client is a authenticating the users against it's own user list, then it can create it's own ID token.

I think there is 2 claims (= 2 jwts) here - the client system id and the c

[2018-06-14 21:34] jmandel commented on #44
What is the audience of the "client user id" claim/token? If it's something other than the EHR then it shouldn't be presented to the EHR... I think that's the point I'm trying to make.

[2018-06-14 23:59] grahamegrieve commented on #44
I don't know whether you're asking about the "aud" property, or a general question. Of course the EHR (server, I think you mean, since either could be EHR) is the 'audience'. As to the "aud" property - I don't see why an openID token is so restricted

[2018-06-15 00:09] jmandel commented on #44
It's important, when verifying an openid connect token, to ensure that the token was meant for you to consume (i.e. that you're the intended audience -- which is how the aud parameter is used). A middleware service shouldn't generally be passing tokens minted for the itself along to other parties.

[2018-06-15 00:15] grahamegrieve commented on #44
Why not? Isn't the same as saying, there's no distributed trust here? I agree it shouldn't spread them around, but I don't understand why it shouldn't be able to distribute trust at all

[2018-06-15 00:22] jmandel commented on #44
We'd just need to be very clear about the requirements for verification, since we're straying from the territory for which OIDC is designed. For example, if we have EHR1, Middleware, and EHR2 as three independent actors, and Middleware would be passing along tokens with Iss=EHR1,Aud=Middleware, then we'd probably want to require EHR2 to record (at the time Middleware is registered as an EHR2 clien

[2018-06-15 00:33] grahamegrieve commented on #44
I'd prefer to leave the acronym "EHR" out of the picture, since it might be one of a variety of players. We have the client and server, with a secured channel between them using backend services. The client is acting on behalf of a user, that is authenticated by an identity server that may be one of (the client, the server, another server). I'm assuming that the identity server will be an oidc ser

[2018-06-15 03:38] jmandel commented on #44
When you say "standardise on an OIDC jwt" do you mean something that would be embedded inside of a client-generated authorization JWT?

[2018-06-15 04:31] grahamegrieve commented on #44
I don't have any strong feeling about where, but I do think that the client will have one system jwt from the back end services and use with a set of oidc jwts for different users concurrently

[2018-06-15 15:36] jmandel commented on #44
OK. So from discussion so far, I'm thinking:

1. Per @grahamegrieve and @lcmaas both (I think), we're comfortable keeping the Authentication JWT as-is, and adding additional tokens alongside it to handle additional use cases (in which case some use cases will require clients to generate and present multiple JWTs in a single access token request).

2. We'll need to pick out some very specific use c

[2018-06-18 14:28] whitehatguy commented on #43
I personally would vote for bare keys, unless the goal of the specification intends to allow other "regional" variants/profiles to exist (read below).

From precursory reading, it appears the OIDC community may have "punted" on this particular question as well.  I found [a thread][1] which indicates that they expected (in the OIDC use case) that identity providers in the EU would need to leverage

[2018-06-18 14:31] isaacvetter commented on #43
Hey @whitehatguy !

This spec is a concrete protocol that dictates the rules of interoperability. Note that we're even [recommending specific JWT signing algorithms](https://github.com/smart-on-fhir/fhir-bulk-data-docs/issues/18) to encourage interoperability.

[2018-06-18 14:40] whitehatguy commented on #43
Hey @isaacvetter - given that, I'd recommend avoiding PEMs as to prevent implementations from attempting to use the certificate content for anything more than as a delivery vehicle for public key material.  I've run into similar problems in SAML development previously where implementations assume / require such content to conform to their own requirements.

[2018-06-18 14:53] jmandel commented on #44
Updated https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/45/files by refactoring back into two tokens, and separated the on-behalf-of stuff into its own page. Thoughts @grahamegrieve  @lcmaas  ?

[2018-06-18 14:55] jmandel commented on #43
Thanks @whitehatguy. I'm inclined to bare keys as well; I think we should try this, recognizing that any choice is going to be a bit painful, and will benefit from a small collection of language-specific examples.

[2018-06-18 15:04] whitehatguy commented on #26
+1

[2018-06-18 15:29] whitehatguy commented on #44
@jmandel is there any reason in the "on behalf of" use case to include the authentication JWT?  Since the authorization JWT is (in this specification) being signed by the client, there doesn't seem to be a security reason as to why an authentication JWT also needs to be included.

[2018-06-18 15:52] jmandel commented on #44
Some possible reasons @whitehatguy:

1. Allow for the possiblity that the Authorization JWT and Authentication JTW could (in some circumstances) come from different issuers

2. Avoid squishing authz/authn semantics (I am personally ambivalent on this but @lmaas raised it as a concern)

3. Reuse (i.e., layer on top of) the infrastructure from the simpler use case.

(If you look at the discussion +

[2018-06-18 15:59] whitehatguy commented on #44
Given this sentence, I assumed that #1 on your list wasn't possible:

RFC 7523 made them separate for reason #2 in your list, but it's already been "squished" if you require the authorization JWT to be issued by the client application.  You'd have to allow the JWT to be issued by a separate issuer (a secondary, external authorization server of some form) to allow the concerns to be separated.

[2018-06-18 16:04] jmandel commented on #44
Yeah, I should relax the description and say "... or signed by another issuer that the server allows", which makes 1 and 2 more justified -- though to be clear, I don't expect this will be the common case.

[2018-06-19 08:54] grahamegrieve commented on #44
I expect it to be a common case - in distrubuted systems where the client
itself delegates authz/authn that would arise naturally, no?

On Tue, Jun 19, 2018 at 2:05 AM Josh Mandel <notifications@github.com>
wrote:

--
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065

[2018-06-19 09:45] jmandel commented on #44
Could be! My take right now is that a normal SSO flow works better for most user-facing apps (i.e. if there's a user at the "keyboard", we usually don't want to rely on Backend Services auth).

[2018-06-19 09:52] grahamegrieve commented on #44
it might work better, but given that the whole industry currently works on
back-end trusted connection, I think there's going to plenty of people not
using SSO

On Tue, Jun 19, 2018 at 7:45 PM Josh Mandel <notifications@github.com>
wrote:

--
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065

[2018-06-19 10:25] jmandel commented on #44
Sure -- are you happy with how this PR is taking shape?

(Overall I think we'll need a lot more specificity to be useful/Interoperable/secure, but I'm hesitant to provide too much of that for the "on behalf of" module until we get some experience with it.)

[2018-06-19 10:33] grahamegrieve commented on #44
I think so. I won't really know until I implement it...

On Tue, Jun 19, 2018 at 8:26 PM Josh Mandel <notifications@github.com>
wrote:

--
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065

[2018-06-19 13:48] #23 closed

[2018-06-19 22:12] lcmaas commented on #18
What is the rationale behind recommending RS384/ES384 as the "floor" instead of RS256/ES256?

We are talking about signatures on very short-lived JWTs here, not signatures that will need to validated far into the future. As points of reference, NIST SP 800-57 allows the use of RS256 with 2048 bit keys for signatures that need to be validated prior to 1/1/2031. ES256 and RS256 with 3072 bit keys go

[2018-06-19 23:49] lcmaas commented on #43
My read of section 4 of the JSON Web Key specification (RFC 7517) is that the key-type specific parameters (i.e. "bare key" parameters) must always be present in a valid JWK, regardless of whether or not x5c or x5u are included, so IMO the draft text is consistent with the JWK spec.

At the same time, I think that using X.509 certificates together with this back-end protocol may become important f

[2018-06-20 00:02] lcmaas opened #47 "Simplification of Verification algorithm and related JOSE header parameters"
1. The Registration section of authorization.md states a service must either register a JWKS or a JWKS URL, i.e. one or the other. So, the optional jku header adds no value since the current Verification algorithm requires that the server first confirm the jku value matches the preregistered URL value. It seems to me that step 1 of Verification algorithm could be eliminated entirely and step 2 sho

[2018-06-20 00:07] lcmaas commented on #47
Sorry, this refers to the changes in pr #46, not the current master

[2018-06-20 19:56] js8080 opened #48 "Typo in Bulk Data Status Request section"
The text says "Clients should follow **the** an exponential backoff..."
We should remove "the".

[2018-06-21 03:04] jmandel commented on #48
Thanks -- fixed! (In general, you you should always feel free to submit PRs directly for this kind of thing by clicking the "edit" link and proposing changes.)

[2018-06-21 03:13] jmandel commented on #47
Thanks for the close read!

For (1), I think it's a matter of opinion whether conveying a `jku` in-band adds value. Sometimes explicitly including these details makes behavior easier to understand/debug. To align with CDS Hooks we want to make `jku` an optional field, which means that if/when present, the server needs to make sure it's acceptable. I don't feel strongly, but we'd rather not introdu

[2018-06-21 03:15] jmandel commented on #47
I'm going to close this issue; please feel free to re-open, or comment on the existing open issues that #46 addresses if needed.

[2018-06-21 03:15] #47 closed

[2018-06-21 03:44] jmandel commented on #28
@daliboz Do you want to propose some specific language here?

[2018-06-21 16:12] jmandel opened #51 "requiresAccessToken"
Shouldn't be a better name than requiresAuthorizationToken

[2018-06-22 14:45] daliboz commented on #28
I created PR #53 - let me know what you think.

[2018-06-28 14:13] #51 closed

[2018-06-28 14:13] #48 closed

[2018-06-28 18:54] jmandel commented on #28
I like this! A quick example would help, too!

[2018-06-28 19:40] jmandel commented on #30
Two conditions where we can provide advice:

* If a client is polling too fast: error code ==  `429`, with a `Retry-After` and optionally an OperationOutcome
* If a server wants to prevent a client from beginning a new export before the current one is done == `429`, with a `Retry-After` and optionally an OperationOutcome

[2018-07-02 14:00] jmandel commented on #44
Based on the lengthy discussion above, I'm extracting this feature request from the bulk data spec today and making an experimental draft for comments at https://github.com/smart-on-fhir/smart-on-fhir.github.io/blob/master/authorization/on-behalf-of/index.md. It's important, and it's not a 1.0 requirement for Backend Services.

I will close this issue + my PR. Looking forward to discussion on Zuli

[2018-07-02 14:00] #44 closed

[2018-07-02 14:01] jmandel commented on #43
Thanks @lcmaas. We definitely won't prevent the use of certs as an optional addition.

Would you mind sharing a direct reference to the text that makes you say:

I was having trouble finding support for this idea, and it'd be great to be able to cite chapter and verse!

[2018-07-02 14:45] #28 closed

[2018-07-02 14:52] lcmaas commented on #43
RFC 7517 Section 4 Paragraph 2 (italics added by LCM):

   In addition to the common parameters, _each JWK will have members that
   are key type specific_.  These members represent the parameters of the
   key.  Section 6 of the JSON Web Algorithms (JWA) [JWA] specification
   defines multiple kinds of cryptographic keys and their associated
   members.

IMO "MUST" would have been better than "wi

[2018-07-02 14:54] jmandel commented on #43
Perfect, and thanks for the quick response!

[2018-07-02 14:56] jmandel commented on #43
For the record: https://tools.ietf.org/html/rfc7518#section-6.2.1 and https://tools.ietf.org/html/rfc7518#section-6.3.1 in particular define the bare key parameters we've discussed.

[2018-07-05 16:46] #30 closed

[2018-07-12 14:10] jmandel commented on #43
Closed by https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/46

[2018-07-12 14:10] #43 closed

[2018-07-12 14:10] jmandel commented on #18
The near-term rationale was simply alignment with the decision from the CDS Hooks workgroup; if we're going to make a specific recommendation, we wanted to be consistent.

[2018-07-12 14:10] jmandel commented on #18
Closed by https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/46

[2018-07-12 14:10] #18 closed

[2018-07-12 14:10] jmandel commented on #26
Closed by https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/46

[2018-07-12 14:10] #26 closed

[2018-07-12 14:11] jmandel commented on #17
Closed by https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/46

[2018-07-12 14:11] #17 closed

[2018-07-14 14:19] aviars opened #56 "Comments on authorization.md"
- Should the "JWKS URL (preferred)" URL be specified at a `.well-known` URL?
- Perhaps the recommended token expire  time should be 10 minutes? 10 sees a little more common and provides a bit more leeway if system clocks are a little off.

[2018-07-14 16:53] jmandel commented on #56
Thanks for these comments! (No big deal in this case, but in general if you're going to share more than one piece of feedback it would be a big help if you could create separate issues so that we can discuss and resolve each one independently.)

Would the `. well-known` path segment be relative to some predictable base? In this context I'm not sure I see how that could work, so I'm not sure what t

[2018-07-21 13:24] aviars commented on #56
I'll split things up next time.  The 10 minutes came from the suggested length of an authorization code in OAuth2. This is not that. I conflated the two. 5 minutes should not be an issue.

After further examination, I withdraw my suggestion of a `.well-known` URL in this context. Chalk it up to me not understanding the flow end-to-end.

I'm closing this issue.

[2018-07-26 16:21] vlad-ignatov opened #59 "Renamed requiresAccessToken to requiresAccessToken"
At the very last line of https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/master/export.md (the change log) it says "Renamed `requiresAccessToken` to `requiresAccessToken`". The `requiresAccessToken` word is the same in both places.

[2018-07-26 17:45] jmandel commented on #59
Thanks! Fixed in #60.

[2018-07-26 17:45] #59 closed

[2018-09-05 16:18] vlad-ignatov opened #61 "Clear the authorization docs"
While trying to implement the latest auth spec, I encountered several problems. They might be an issue or maybe the descriptions are just not clear enough. I will submit those as comments below:

[2018-09-05 16:30] vlad-ignatov commented on #61
After reading the dogs, I got the impression that the RSA SHA-256 algorithm is deprecated but the diagram still shows "RSA SHA-256" for signing.  The text below the diagram contains  "The authentication JWT is constructed with the following claims, and then signed with the backend service's private RSA key **(RSA SHA-384 signature)**".

I find this confusing. Either the image should be corrected,

[2018-09-05 16:34] jmandel commented on #61
This is a diagram error. Thanks for pointing it out!

[2018-09-05 16:40] #61 closed

[2018-09-05 16:40] jmandel commented on #61
Can you please submit other problems as separate issues @vlad-ignatov? We'd like to track and fix discretely.

[2018-09-05 16:50] vlad-ignatov opened #63 "Can a service have registration-time JWKS URI but not provide a jku header?"
In this section https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/master/authorization.md#server-obligations-for-signature-verification, it is said that:

"If jku is absent, create a set of potential key sources consisting of: **all keys found by dereferencing the registration-time JWKS URI** + **any keys supplied in the registration-time JWKS**. Proceed to step 3."

In my implementation,

[2018-09-05 16:56] jmandel commented on #63
Thanks for checking about this. The way we've written the spec, a servers would permit apps to register either a JWKS *or* a JWKS URI at registration time. At runtime, let's call
a)  all keys found by dereferencing the registration-time JWKS URI
b) any keys supplied in the registration-time JWKS

The union of (a) and (b) will be empty on one side, but it's still technically a union.

Do keep in mi

[2018-09-05 17:03] vlad-ignatov commented on #63
Yes, that is what I though. Do you think it can be a little clearer? Perhaps if `a)` also begins with `any`?

[2018-09-05 18:07] vlad-ignatov opened #64 "Notes about the JWKS structure"
Perhaps we can add a sentence or two to state that:
1. Services should not include private keys in hosted JWKS.
2. Public and private keys (pairs) in JWKS should have the same `kid`.

It is already mentioned between the lines but it takes some time to "discover" it:

kid | required | The identifier of the key-pair used to sign this JWT. This identifier MUST be unique within the backend services's

[2018-09-05 18:45] jmandel commented on #63
Cool, I like that -- proposed a PR for your review.

[2018-09-05 18:46] jmandel commented on #64
For (1), I think that makes sense. For (2), I'm not sure why we'd say anything about private key ids if we just said in (1) that we don't expect private keys to be exposed/shared at all. Does this make sense? If so, would you be willing to propose a PR for (1)?

[2018-09-05 19:04] #63 closed

[2018-09-05 19:07] vlad-ignatov commented on #64
You are right about (2) - we can do without it.
My use case was that my app works with the full JWKS that can in theory hold multiple pairs. Then I have to find the last private key that does have a corresponding public key (associated by kid) and use it for signing and `kid` header. In other words, from the server's perspective it does not matter but clients still have to deal with it.

[2018-09-05 20:10] jmandel commented on #64
OK. I'm still not totally sure I understand the point here, but I think we have ended up at a good place.

To re-state: clients only expose their public keys in JWKS, not full keypairs. Internally clients may be storing private keys wherever/howerver they (securely) choose.

[2018-09-05 20:17] aviars commented on #64
Yes sounds right to me. While a no-brainer, its worth being explicit about not publishing private keys / only public keys.

[2018-09-05 20:20] jmandel commented on #64
Perfect. I think @vlad-ignatov will propose a PR.

[2018-09-07 19:46] #64 closed

[2018-09-18 13:31] michelemottini opened #69 "References between resources"
I don't see anything in the specs about references between resources.

The test data from the SMART reference server has resources ids set to GUIDs and the corresponding references using `urn:uuid:<guid>` - is this normative?

[2018-09-18 13:52] jmandel commented on #69
Thanks! This  behavior doesn't look valid to me. (There are some rules for resolving references within a Bundle based on matching a referenxe to a Bundle.entry.fullUrl property -- but here we do not have a Bundle).

[2018-09-18 13:56] michelemottini commented on #69
...what's the valid behavior? Or in other words, how should references between the resources obtained from a bulk request be expressed?

(Maybe this is in the specs and I am not seeing it? It won't be the first time...)

[2018-09-18 14:00] jmandel commented on #69
I'm not sure we've stated this explicitly. The expectation is that these references should be relative uris, or absolute uris rooted in the base url for the server from which the export was performed. This is probably something we should talk through at the Connector phone to see if these guidelines failed to meet anybody's use case :-)

@gotdan

[2018-09-18 14:04] michelemottini commented on #69
How do you resolve a relative (or absolute) uri to a specific line (or resource) inside a ndjson file?

[2018-09-18 14:59] jmandel commented on #69
I'm interested to hear the examples of things that you might think are ambiguous. I haven't given this deep thought, but the rough algorithm that I have in my head is

1. For relative references: you treat all resources that you have received from the export, and all relative references, as if they are relative to the exporting server's base URI. (For absolute references, you only can resolve them

[2018-09-18 15:10] michelemottini commented on #69
OK, this is clear and answer my question: the reference URLs must end in `<type>/<id>` of the referenced resource.

And yes, if this is the case then the data returned by the SMART reference server is wrong:

`{ . . . "patient":{"reference":"urn:uuid:a6f0e6d2-8f94-43c0-94bf-cbf3986ece03"}, . . .,"resourceType":"AllergyIntolerance"}
`

`{"id":"06eb35fc-09e6-48b4-a311-47633f6c4769", . . .,"resourceT

[2018-09-18 15:15] jmandel commented on #69
Agreed!

[2018-09-19 15:05] michelemottini commented on #69
I am leaving this open because I think it warrants a mention in the specs

[2018-09-20 16:13] vlad-ignatov commented on #69
The SMART Bulk-data server now returns references as `<type>/<id>`.

As for how you resolve them, I have always considered the downloaded files some kind of intermediary state. You would probably not have to resolve any references before inserting the data into another system (like another fhir server or a proprietary database).

[2018-09-20 21:14] michelemottini opened #70 "Missing referenced resources"
More a question than an issue: is the expectation that all referenced resources should be part of an export set? Or is it admissible that some exported resources references resources that are not in the export set?

If it is the latter - what is the client supposed to do with those references? Try to access directly the server to get that data? ...that could generate a ton of traffic....

(I am as

[2018-09-20 21:30] jmandel commented on #70
What we say in the spec is:

Would be great to have your thoughts on this. But the bottom line is that there is no built into equivalent of `_include=Encounter:organization` today.

[2018-09-20 21:47] michelemottini commented on #70
Thanks Josh - I should have re-read the specs more carefully.

As a client writer I'd like to have all the reference resolve in the exported data set - as a server writer I can see some issues implementing that.

I'd say that the specs are good as they are: unresolved references are possible and clients have to deal with them (but I'd point out for Cerner that Encounter _is_ in the Patient compart

[2018-09-20 21:47] #70 closed

[2018-09-25 17:10] vlad-ignatov opened #71 "Diagram error"
This is just a reminder that the auth diagram is still wrong (showing `"iss": "https://{app url}"`).

[2018-09-29 15:09] jmandel commented on #71
Fixed in https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/76

[2018-09-30 20:55] #71 closed

[2018-09-30 20:58] #69 closed

[2018-10-03 02:42] michelemottini opened #84 "Binary resource?"
How can we handle resources referencing binary data like report:
[code]

(Coming from Cerner)

Binary resource cannot be exported in ndjson files

[2018-10-25 01:28] mattkoch614 opened #91 "[Question] How do you surface the markdown files?"
I am wondering how you display the source controlled markdown files (that will eventually make up a full fledged implementation guide) contained in this repo? I think source controlling them here is a great idea - curious to know if there is a web hook or similar process to ingest and host them once changes are merged, etc.

[2018-10-25 04:14] jmandel commented on #91
Today we just point people at the GitHub repository with links like https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/master/export.md and https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/master/authorization.md .

Eventually I expect we will publish a standalone static website including this content, but right now we are more focused on getting the content right :-)

Would love t

[2018-10-25 04:14] #91 closed

[2018-10-25 11:55] mattkoch614 commented on #91
Awesome, thanks for this. GitHub makes a lot of sense as a platform to collaborate on something like this, especially because of the ability to leverage pull requests as a part of the review process. I think you're right to focus on getting the content right first.

I am a member of a fairly large effort to author an implementation guide for clinical research, and have been mulling over strategies

[2018-10-29 19:38] jmandel commented on #84
I see a few possible answers here:

1. No special treatment; a client can follow links if needed to retrieve binary content referenced from the exported resources (which is easy to specify, but leaves the problem out of scope, and thus unsolved)

2. Explicit export a set of `Binary` files, re-encoding each Binary resource with ndjson rows [like this](http://build.fhir.org/binary-example.json.html)

[2019-03-27 22:05] XiaoYang-Code4Fun opened #118 "How to handle the potential duplicates generated in the execution?"
I am thinking from an implementer point of view: the server may want to parallelize the execution, for example, dispatching one job per patient compartment. These patient compartments, however, may include shared resources. In the end, it may be too expensive to aggregate and dedup. I am curious to learn you thoughts. Is it expected that the server has to do a "MapReduce"?

Thank you very much!